# 1. Data Structure


A data structure is used to store data in an organized fashion in order to make data manipulation and other data operations more efficient.

Data structures in Python are a key concept to learn before we dive into the nuances of data science and model building.

There is no one-size-fits-all kind of model when it comes to data structures. You will want to store data in different ways to cater to the need of the hour.

## 1.1 Variables

In [81]:
# variable assignment
a = 2
b = 'variable'
c = 3.0
d = False

In [78]:
# calculation
a + c
# a / c

13

 **Python Operators**
 
 | Python Operator | Description  |
| :---: | :---: |
| `+` | addition |
| `-` | subtraction |
| `*` | multiplication |
| `/` | division |
| `%` | Modulus  |
| `**` | power |

In [2]:
e = d

In [82]:
print(type(d), type(b))

<class 'bool'> <class 'str'>

In [85]:
# type conversion
d_str = str(d)
type(d_str)

str

## 1.2 Lists

Lists in Python are the most versatile data structure. They are used to store heterogeneous data items, from integers to strings or even another list! They are also mutable, which means that their elements can be changed even after the list is created.

In [15]:
# lists
l = ['cat', 'dog', 'horse']
print(type(l))

<class 'list'>

In [18]:
l = [a, False, b, c]

In [22]:
# access list elemet
print(l[0])
print(l[-1])

(2, 3)
(False, False)

In [25]:
# append elements to list
l = ['cat', 'dog', 'horse']

l.append('mouse')
print(l)

In [27]:
# remove elemtns
l.remove('dog')
print(l)

['cat', 'horse', 'mouse']

In [28]:
l.pop(0)

'cat'

In [33]:
# sorting lists
l = [5, 10, 3, 2, 3]
l.sort()
l

[2, 3, 3, 5, 10]

In [37]:
# concatinating lists
list_1 = l
list_2 = ['cat', 'dog']

list_new = list_1 + list_2

In [38]:
# for loop
for x in list_new:
    print(x)

2
3
3
5
10
cat
dog

In [39]:
# list comprehension
list_numeric = [x for x in list_new if type(x) == int]

## 1.3 Tuples

Tuples are another very popular in-built data structure in Python. These are quite similar to Lists except for one difference – they are immutable. This means that once a tuple is generated, no value can be added, deleted, or edited.

In [42]:
# tuples
a = (2, 3)
b = (False, 'variable')
c = (e, d)
print(type(c))

<class 'tuple'>

In [47]:
d = (6, a, b, l)

In [50]:
# tuple packing
planets = ('mercury', 'venus', 'earth')

# tuple unpacking
a, b, c = planets

## 1.4 Dictionaries

Dictionary is another Python data structure to store heterogeneous objects that are immutable but unordered. This means that when you try to access the elements, they might not be in exactly the order as the one you inserted them in.

But what sets dictionaries apart from lists is the way elements are stored in it. Elements in a dictionary are accessed via their key values instead of their index, as we did in a list. So dictionaries contain key-value pairs instead of just single elements.

In [60]:
d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [65]:
d_new = {'car_1':d,
        'car_2': {"brand": "Toyota"}}

In [67]:
d_new['car_1']

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [69]:
# Accessing keys and values
d.keys()

dict_keys(['brand', 'model', 'year'])

In [70]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [71]:
for k, v in d.items():
    print(k)

brand
model
year

## 1.5 Sets

Sometimes you don’t want multiple occurrences of the same element in your list or tuple. It is here that you can use a set data structure. Set is an unordered, but mutable, collection of elements that contains only unique values.

In [72]:
print(l)

[2, 3, 3, 5, 10]

In [74]:
set(l)

{2, 3, 5, 10}

# Functions

A function is a set of statements that take inputs, do some specific computation and produces output. The idea is to put some commonly or repeatedly done task together and make a function, so that instead of writing the same code again and again for different inputs, we can call the function.

Python provides built-in functions like print(), etc. but we can also create your own functions. These functions are called user-defined functions.

In [88]:
def cube(x):
    
    x = x ** 3
    
    return x

In [90]:
sample_variable = 5
cube(5)

125

In [92]:
def even_or_odd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")

In [95]:
even_or_odd(123)

odd

**Python Comparison Operatros**

| Python Operator | Description  |
| :---: | :---: |
| `==` | equal |
| `!=` | Not equal |
| `>` | Greater than |
| `<` | Less than |
| `>=` | Greater than or equal to  |
| `<=` | Less than or equal to |


**Python Logical Operatros**

| Python Operator | Description  | Example  |
| :---: | :---: | :---: |
| `and` | Returns True if both statements are true | x<5 and x<10 |
| `or` | Not equal | x<5 or x<4 |
| `not` | Reverse the result, returns False if the result is true | not(x<5 and x<10)

In [98]:
def data_generating_function():
    
    return [1, 2, 3, 4]

data_generating_function()

[1, 2, 3, 4]

In [99]:
def swap(x, y):
    
    temp = x
    x = y
    y = x

In [104]:
# keyword argument

# The idea is to allow caller to specify argument name with values
# so that caller does not need to remember order of parameters.

def student(first_name, last_name):
    return(first_name + ' ' + last_name)

In [106]:
student(first_name='amir', last_name='imani')
# student('amir', 'imani')
# student(first_name='amir', last_name=123)  # talk about assertion

'amir imani'

In [108]:
# variable length arguments
def my_function(*argv):
    for arg in argv:
        print(arg)
        
        
# or the following for keyword arguments def my_function(**kwargs):

# 2. Working with Data in Python

[Pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [109]:
import pandas as pd

In [111]:
# loading data
df_iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [112]:
# inspecting data
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [113]:
df_iris['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

Pandas is aware of the data types in the columns of your DataFrame. It is also aware of null and NaN ('Not-a-Number') types which often indicate missing data. In this exercise, we have imported pandas as pd and read the world population data into a DataFrame df which contains some NaN values — a value often used as a place-holder for missing or otherwise invalid data entries.

In [115]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [118]:
# NumPy and pandas working together

df_iris.values

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.8, 4.0, 1.2, 0.2, 'setosa'],
       [5.7, 4.4, 1.5, 0.4, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.8, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.2, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.6, 1.4, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, 3.0, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [7.1, 3.0, 5.9, 2.1, 'virginica'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [4.9, 2.5, 4.5, 1.7, 'virginica'],
       [7.3, 2.9, 6.3, 1.8, 'virginica'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [7.2, 3.6, 6.1, 2.5, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [6.4, 2.7, 5.3, 1.9, 'virginica'],
       [6.8, 3.0, 5.5, 2.1, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [5.8, 2.8, 5.1, 2.4, 'virginica'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, 1.8, 'virginica'],
       [6.0, 3.0, 4.8, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [6.2, 3.4, 5.4, 2.3, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

## 2.1 What is NumPy?
NumPy is a python library used for working with arrays.


In Python we have lists that serve the purpose of arrays, but they are slow to process.

NumPy aims to provide an array object that is up to 50x faster that traditional Python lists.

The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.

Arrays are very frequently used in data science, where speed and resources are very important.

In [119]:
import numpy as np

In [122]:
arr = np.array([1, 2, 3, 4])
# np.array(l)

In [123]:
print(type(arr))

<class 'numpy.ndarray'>

### 2.1.1 Dimensions in Arrays

A dimension in arrays is one level of array depth (nested arrays).

In [137]:
# 1-D array
arr = np.array([1, 2, 3, 4])
print(arr.size, arr.ndim)

4 1

In [138]:
# 2-D array
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.size, arr.ndim)

6 2

In [131]:
print(arr)

[[1 2 3]
 [4 5 6]]

In [134]:
arr[0]
# arr[1,2]

array([1, 2, 3])

In [139]:
# 3-D array
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr, '\n')
print(arr.size, arr.ndim)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

12 3

In [140]:
# higher dimension arrays
arr = np.array([1, 2, 3, 4], ndmin=5)
print(arr)

[[[[[1 2 3 4]]]]]

In this array the innermost dimension (5th dim) has 4 elements, the 4th dim has 1 element that is the vector, the 3rd dim has 1 element that is the matrix with the vector, the 2nd dim has 1 element that is 3D array and 1st dim has 1 element that is a 4D array.

In [141]:
# accessing elements + slicing 1-D
arr = np.array([1, 2, 3, 4, 5, 6, 7])
arr[4]

5

In [142]:
arr[4:]

array([5, 6, 7])

In [143]:
arr[2:5]

array([3, 4, 5])

In [144]:
arr[2::2]

array([3, 5, 7])

In [145]:
# accessing elements + slicing 1-D
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

arr[1, 1:4]

array([7, 8, 9])

In [151]:
# data type in arrays
np.array(['dog', 'cat'])
# np.array(['dog', 'cat', 2])

array(['dog', 'cat'], dtype='<U3')

In [152]:
# np.array(['dog', 'cat', [6, 7, 8, 9, 10]])

In [153]:
# type conversion
arr = np.array([1, 0, 3])
newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

## Back to Dataframes

In [155]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

## 2.2 Building dataframes

In [156]:
states = ['NY']
cities = ['New York']

# Construct a dictionary: data
data = {'state':states, 'city':cities}

In [157]:
data

{'state': ['NY'], 'city': ['New York']}

In [158]:
df = pd.DataFrame(data)

In [159]:
df

  state      city
0    NY  New York

In [ ]:
# exporting 
df.to_csv()

## 2.3 Plotting with Pandas

In [160]:
df_iris.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [162]:
# !pip install matplotlib

In [ ]:
from %matplotlib